<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>This is The Layout</div>
    <div>@Html.ActionLink("Return Name","PrintName","Home")</div>
    <div>@Html.ActionLink("Error","ServerError")</div>
    <div>@Html.ActionLink("Resource No Found","ResourceNoFound")</div>
    <div>@Html.ActionLink("Redirecting","Redirecting")</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
